name: HomeBuildCI

on:
  push:
    branches:
      - '**'
      - '!gh-pages'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To push a branch 
      pull-requests: write  # To create a PR from that branch
    steps:
      # Check
      - uses: actions/checkout@v4
        with:
          ref: home
          submodules: recursive

      - name: Get Release
        uses: robinraju/release-downloader@v1.9
        with:
          repository: "PJ-568/568_Calc"
          latest: true
          fileName: "Web.zip"

      - name: Release
        run: |
          mkdir ./Web
          unzip -o $GITHUB_WORKSPACE/Web.zip -d ./Web
          ls ./Web
          rm $GITHUB_WORKSPACE/Web.zip

      - name: Generate the sitemap
        id: sitemap
        uses: cicirello/generate-sitemap@v1
        with:
          base-url-path: https://Calc.pj568.eu.org/

      - name: Output sitemap stats
        run: |
          echo "sitemap-path = ${{ steps.sitemap.outputs.sitemap-path }}"
          echo "url-count = ${{ steps.sitemap.outputs.url-count }}"
          echo "excluded-count = ${{ steps.sitemap.outputs.excluded-count }}"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: . # The folder the action should deploy.

      - name: Ping Google
        run: curl https://www.google.com/ping?sitemap=https://Calc.pj568.eu.org/sitemap.xml
